# All code in this repo owned and written by single user.
# © Latif Sulistyo <latifsulistyo.me@gmail.com> (https://ruppy.io)
# a.k.a. Latipun7 / Ryuuki

*                   @latipun7

# Any code that written from pull-request by someone else
# will be added below.
